<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>781 Hague Ave<br>St. Paul, MN 55104</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/max.lund.338" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/lundmax" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/lundmax/" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Contact Info</h3>
                    <p>715-222-7919<br><a href="mailto:lundmax@gmail.com?Subject=Freelance%20Work" target="_top">lundmax@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Max Lund
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Ordercloud.io Dev Center</h2>
                        <hr class="star-primary">
                        <%= image_tag "freelancer/oc-dash.png", class: "img-responsive", alt: "" %>
                        <p>I was a key developer on the <a href="https://ordercloud.io">Ordercloud.io</a> Dev Center project, helping build the dashboard, which was an AngularJS application that consumed a RESTful API.<br><br>In addition to some of the original design and development of the dashboard, I was responsible for the DevOps work and and the training modules for the initial build.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="https://ordercloud.io">Four51/Ordercloud.io</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>OrderCloud Community Signup</h2>
                        <hr class="star-primary">
                        <%= image_tag "freelancer/oc-comm.png", class: "img-responsive", alt: "" %>
                        <p>This was a unique project that only took a few short days, but could have taken a couple weeks if done from scratch. This app had the simple goal of automatically signing up a user into the <a href="https://community.ordercloud.io">Ordercloud.io Slack Channel.</a><br><br>I researched and found a NodeJS boilerplate app to do just that with only some slight redesign and configuration necessary to make it production ready. It only took 2 hours to build, and a few days to thoroughly test and then it was released</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="https://ordercloud.io">Four51/Ordercloud.io</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong>2015
                                </strong>
                            </li>
                            <li>Service:
                                <strong>Web Development, Integrations
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>OrderCloud Console</h2>
                        <hr class="star-primary">
                        <%= image_tag "freelancer/oc-console.png", class: "img-responsive", alt: "" %>
                        <p>One of the most dynamic web apps I've worked on, the console is a made-from-scratch interactive terminal to work with live data from the OrderCloud platform. It is built in AngularJS much like the dashboard, and also heavily uses the Ordercloud.io API and documentation to autogenerate it's content.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="https://ordercloud.io">Four51/Ordercloud.io</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong>2015
                                </strong>
                            </li>
                            <li>Service:
                                <strong>Web Development
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Membio</h2>
                        <hr class="star-primary">
                        <%= image_tag "freelancer/membio-members.png", class: "img-responsive", alt: "" %>
                        <p>Membio is the startup I am currently working on, and combines some of the latest and greatest technologies that are both flexible and powerful in their own right. These include Ruby on Rails, Postgres, Docker, CoreOS, and Nginx. The frontend is powered by Rails MVC, with the design themed off of the bootstrap library.<br><br>Everything--from the front-end, to the back-end, to the server--is built and maintained by me</p>
                        <ul class="list-inline item-details">
                            <li>Company:
                                <strong>Membio
                                </strong>
                            </li>
                            <li>Date:
                                <strong>Current
                                </strong>
                            </li>
                            <li>Service:
                                <strong>Full Stack Development
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Features</h2>
                        <hr class="star-primary">
                        <%= image_tag "freelancer/membio-emails.png", class: "img-responsive", alt: "" %>
                        <p>Membio is also robust with features such as email marketing, text notifications, groups, content/asset sharing, and more coming every day.<br><br>It is also heavily tested with a fluid development cycle using GitLab CI in conjunction with RSpec</p>
                        <ul class="list-inline item-details">
                            <li>Company:
                                <strong>Membio
                                </strong>
                            </li>
                            <li>Date:
                                <strong>Current
                                </strong>
                            </li>
                            <li>Service:
                                <strong>Features
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Integrations</h2>
                        <hr class="star-primary">
                        <%= image_tag "freelancer/membio-analytics.png", class: "img-responsive", alt: "" %>
                        <p>Integrations are commonplace within Membio. Sendgrid, Nexmo, and Braintree, just to name a few, are scattered throughout the application.<br><br>Additionally, Membio is being built with flexibility and outward integrations in mind. Every resource in the web app can also be used as a JSON API request instead. This opens the app up to be consumed in a custom web app or a mobile application without fuss</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong>Membio
                                </strong>
                            </li>
                            <li>Date:
                                <strong>Current
                                </strong>
                            </li>
                            <li>Service:
                                <strong>Integrations, API
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

